/* استایل‌های پایه */
body {
    font-family: 'system-ui', Arial, sans-serif; /* استفاده از فونت شبنم */
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    direction: rtl; /* راست‌چین کردن متن */
    text-align: right; /* راست‌چین کردن متن */
}

h1, h2, h3 {
    color: #333;
}

select, button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
